/* admin/highlights.css */

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} /* Reset default margin and padding */
body,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Dashboard container */
.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: burlywood;
}

/* Sidebar */
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: rgb(54, 149, 117);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.admin-menu {
    margin-top: 50px; /* Adjust the value as needed */
}

.admin-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.admin-menu ul li {
    margin-bottom: 10px;
}

.admin-menu ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    background-color: #e2e2e3;
    transition: background-color 0.3s ease;
}

.admin-menu ul li a:hover {
    background-color: #003366;
    color: rgb(255, 255, 255);
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
    background-color: rgb(54, 149, 117);
    color: #fff;
    padding: 10px;
}

.admin-content {
    margin-bottom: 20px;
}

.admin-content h2 {
    margin-bottom: 10px;
}

.edit-form {
    display: grid;
    grid-template-columns: 150px 250px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}

.edit-form label {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

.edit-form input,
.edit-form select {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.cancel-button,
.update-button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: red;
}

.update-button:hover {
    background-color: #007d00;
}

.success-message {
    display: none;
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.success-message p {
    margin: 0;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    background-color: rgb(54, 149, 117);
    color: #fff;
    padding: 20px;
    min-width: 200px;
}

.sidebar h1 {
    font-size: 24px;
    margin: 0;
}

.admin-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.admin-menu ul li {
    margin-bottom: 10px;
}

.admin-menu ul li a {
    color: #000000;
    text-decoration: none;
}

.main-content {
    padding: 20px;
}

.header h1 {
    font-size: 32px;
    margin: 0;
}

.admin-content {
    margin-top: 20px;
}

.admin-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f5f5f5;
}

table td:last-child {
    text-align: center;
}

table a {
    text-decoration: none;
    color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        min-width: auto;
        text-align: center;
    }

    .sidebar h1 {
        margin-bottom: 20px;
    }

    .admin-menu ul li {
        margin-bottom: 20px;
    }

    .main-content {
        margin-top: 20px;
    }
}
